<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="socilgirl.dell.mydemo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Main2Activity" />
        <activity android:name=".view.RecycleTest" />
        <activity android:name=".view.SQLiteTestActivity" />
        <activity android:name=".view.ButterKnifeTestActivity" />
        <activity android:name=".view.SharedTestActivity" />
        <activity android:name=".view.UpRefreshActivity"></activity>
    </application>

</manifest>